<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" id="vbulletin_html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />

  <%= favicon_link_tag '/favicon.ico' %>

  <meta name="keywords" content="Frontier, Forum, Tracker, Devs, Staff, Filter" />
  <meta name="description" content="Commander Bewilderbeest's Elite Forum Tracker, showing you staff posts to the Frontier Forums" />

  <script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/vbulletin-core.js?v=422"></script>
  <link rel="stylesheet" type="text/css" href="http://forums.frontier.co.uk/css.php?styleid=13&langid=1&d=1414172413&td=ltr&sheet=bbcode.css,editor.css,popupmenu.css,reset-fonts.css,vbulletin.css,vbulletin-chrome.css,vbulletin-formcontrols.css," />

  <title>Elite Forums Tracker</title>
	
  <script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/vbulletin_quick_edit_generic.js?v=422"></script>
  <script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/vbulletin_quick_edit_visitormessage.js?v=422"></script>
  <script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/vbulletin_activitystream.js?v=422"></script>
	
  <link rel="stylesheet" type="text/css" href="http://forums.frontier.co.uk/css.php?styleid=13&langid=1&d=1414172413&td=ltr&sheet=activitystream.css,sidebar.css,forumbits.css,postbit.css,postbit-lite.css,showthread.css,member.css,user,32574" />
	
  <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="css.php?styleid=13&langid=1&d=1414172413&td=ltr&sheet=sidebar-ie.css,member-ie.css,postbit-lite-ie.css" /><![endif]-->
	
  <link rel="stylesheet" type="text/css" href="http://forums.frontier.co.uk/css.php?userid=32574&cssuid=0&d=1414253213&td=ltr&styleid=0&sheet=userprofile.css" />
  <link rel="stylesheet" type="text/css" href="http://forums.frontier.co.uk/css.php?styleid=13&langid=1&d=1414172413&td=ltr&sheet=additional.css" />

  <style type="text/css">
  /* Some custom styles to help things stand out a bit more */
  
  .btn {
      padding: 2px;
      margin: 2px;
  } 
  
  .body_wrapper {
    margin-top: 20px;
    border-top: 2px solid #999;
  }
  
  div.excerpt { 
    font-size: 130%;
  }

  .title a {
    color: rgb(220, 70, 0) !important;
  }
  
  .below_body, #footer_morecopyright {
    background-color: white;
  }
  
  .eft_footer {
    text-align: center;
  }

  .search-form {
    background-color: #EEE;
    border: 1px solid #DDD;
    padding: 5px;
  }
  </style>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2547274-3', 'auto');
    ga('send', 'pageview');
  </script>
  
</head>

<body>
	<div class="above_body"> <!-- closing tag is in template navbar -->
<div id="header" class="floatcontainer doc_header">
	<div><a name="top" href="http://forums.frontier.co.uk/forum.php" class="logo-image"><img src="http://forums.frontier.co.uk/images/frontier/frontierLogo.png" alt="Frontier Forums" /></a></div>
</div><!-- closing div for above_body -->

<div class="body_wrapper">
  <ul id="activitylist">
    
    <p>Welcome to <strong>CMDR Bewilderbeest</strong>'s dev tracker. This site tracks posts made by Frontier employees on the official forums.</p>
    <br/>
    
    <%= form_tag(search_posts_path, :method => "get", class: "search-form", id: "search-form") do %>
      <div class="input-append">
        Search for
        <%= text_field_tag :search, params[:search], class: "span2", placeholder: "something" %>
        from
        <%= select_tag "author_id", options_from_collection_for_select(Author.unscoped.by_post_count.all, "id", "name", @author_id), { :prompt => 'all authors' }  %>
        <button type="submit" class="btn">Go</button>
      </div>
    <% end %>
    
    <%= yield %>
  </ul>
</div>

<div class="below_body">
  <div class="eft_footer">
      <a href="https://github.com/nickludlam/EDForumTracker">Made</a> in 2014 by <strong><a href="http://nick.recoil.org/">Commander Bewilderbeest</a></strong>, with moral support and inspiration from <strong>Commander Yan</strong> and <strong>Commander Athan</strong>.
  </div>
</div>

</body>
</html>
